<section class="steps">
  <div class="block_title">
    <h1 class="title">How it works ?</h1>
    <h2 class="subtitle">Since we are very nice, we let you know some secrets about Magnus !</h2>
  </div>

  <div class="block_detail">
    <div class="block_detail--left">
      <img class="img" src="../assets/imgs/iphone8.png" alt="iphone8 mockup magnus">
    </div>
    <div class="block_detail--right">
      <ul>
        <li class="list_item">
            <div>
                <img src="../assets/imgs/signal.svg" alt="signal magnus">
                <span>No signal</span>
            </div>
          <p>With magnus you need no Wifi, no Bluetooth, no 4G…
              And find your way in big indoor spaces !
          </p>
        </li>
        <li class="list_item">
            <div>
                <img src="../assets/imgs/boussole.svg" alt="boussole image">
                <span>Geomagnetisme</span>
            </div>
            <p>Our solution uses geomagnetisme to locate you without using any signal.
                It’s safe and economic !
            </p>
        </li>
        <li class="list_item">
          <div>
              <img src="../assets/imgs/collect.svg" alt="collect magnus image">
              <span>Collect</span>
          </div>
            <p>The Magnus API collects and analyzes environmental data to locate you inside a building. This data can be also matched with strategically positioned Bluetooth beacons for higher precision.
            </p>
        </li>
      </ul>
    </div>
  </div>
</section>
