<section class="contact">
<div class="links">
  <a href="mailto:contact@uppli.fr"><button class="button_line">Discover Magnus API</button></a>
</div>

<div class="block_title">
    <h1 class="title">Contact</h1>
    <h2 class="subtitle">Call us maybe !</h2>
</div>

<div class="list_contact">
  <ul>
    <li class="social_item">
      <img src="../assets/imgs/telephone.svg" alt="">
        <p>09 72 62 66 91</p>
    </li>
    <li class="social_item">
      <img src="../assets/imgs/pin.svg" alt="">
        <p>24, avenue Marceau - 75008 Paris</p>
    </li>
    <li class="social_item">
      <img src="../assets/imgs/mail.svg" alt="">
        <p>contact@uppli.fr</p>
    </li>
  </ul>

  <div class="social">
    <img src="../assets/imgs/twitter.svg" alt="">
    <p>@Uppli_io</p>
  </div>
</div>


</section>
