<section class="contact">
<div class="links">
  <a href="mailto:contact@uppli.fr"><button class="button_line">Discover Magnus API</button></a>
</div>

<div class="block_title">
    <h1 class="title">Contact</h1>
    <h2 class="subtitle">Call us maybe !</h2>
</div>

<div class="list_contact">
  <ul>
      <a target="_blank" href="tel:0972626691">
      <li class="social_item">
        <img src="../assets/imgs/telephone.svg" alt="phone uppli">
          <p>09 72 62 66 91</p>
      </li>
      </a>
    <li class="social_item">
      <img src="../assets/imgs/pin.svg" alt="address uppli">
        <p>24, avenue Marceau - 75008 Paris</p>
    </li>
    <li class="social_item">
      <img src="../assets/imgs/mail.svg" alt="mail uppli">
        <a target="_blank" href="mailto:contact@uppli.io"><p>contact@uppli.fr</p></a>
    </li>
    <a target="_blank" href="https://www.linkedin.com/company/uppli/">
        <li class="social_item">
          <img src="../assets/imgs/linkedin.svg" alt="linkedin uppli">
            <p>linkedin.com/company/uppli/</p>
        </li>
        </a>
  </ul>
  <a target="_blank" href="https://twitter.com/Uppli_io">
    <div class="social">
      <img src="../assets/imgs/twitter.svg" alt="twitter uppli">
      <p>@Uppli_io</p>
    </div>
</a>
</div>


</section>
