<section class="section_slider">
    <div class="block_title">
        <h1 class="title">Why use it ?</h1>
        <h2 class="subtitle">Thanks to its engine, Magnus can tell you where you are and where to go even inside complex buildings without relying on GPS signal or expensive infrastructures,</h2>
        <h4 class="subtitle">you just need to enjoy the journey !</h4>
      </div>

   <div class="block_testimony">
      <ngu-carousel
      [inputs]="carouselBanner">
          <ngu-item NguCarouselItem>
                  <div class="block_inner"> 
                <div class="block_inner--left">
                  <p class="block_place">Ratp</p>
                  <p class="block_event">VivaTech 2018</p>
                  <p class="block_city">Paris - Porte de Versailles</p>
                  <p class="block_description">We mapped the booth of Ratp at vivatech so visiotrs could see their position on the map and find the startups they wanted to meet !</p>
                </div>
                <img class="block_inner--right" src="../../assets/imgs/vivatech.jpg" alt="image vivatech">
            </div>
          </ngu-item>

          <ngu-item NguCarouselItem>
            <div class="block_inner"> 
                  <div class="block_inner--left">
                    <p class="block_place">Mairie de Paris</p>
                    <p class="block_event">Hacking de l'hôtel de ville</p>
                    <p class="block_city">Paris</p>
                    <p class="block_description">The Mairie the Paris launched in mid-march its special event the « Hacking of hotel de ville ».
                      …</p>
                  </div>
                  <img class="block_inner--right" src="../../assets/imgs/hacking.png" alt="image hacking mairie de paris">
            </div>
        </ngu-item>
              <button NguCarouselPrev class='leftRs'></button>
              <button NguCarouselNext class='rightRs'></button>
    </ngu-carousel>
  </div>
</section>
