@import '../../assets/main';

h1{
  color: $primary;
  margin-left: 8vw;
}

h2{
  margin-left: 8vw;
  width: 50vw;
  margin-top: 1em;
}

.steps{

  margin-top: 80px;

  .block_detail{
    margin-top: 80px;
    &-left{
      margin-top: 80px;
      .block_title{
        margin-left: 8vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p{
          color: white;
          background: $primary-gradient;
          width: 65px;
          height: 65px;
          border-radius: 35px;
          text-align: center;
          font-size: 3em;
          font-weight: bold;
          margin-right: 0.5em;
        }
      }
      .block_description{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
          width: 50vw;

        }
        p{
          width: 20vw;
          font-size: 1.2em;
          font-weight: 400;
          margin-right: 10em;
          line-height: 2em;
        }
      }
    }

    &-right{
      margin-top: 80px;
      .block_title{
        margin-right: 8vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row-reverse;

        p{
          color: white;
          background: $primary-gradient;
          width: 65px;
          height: 65px;
          border-radius: 35px;
          text-align: center;
          font-size: 3em;
          font-weight: bold;
          margin-left: 0.5em;
        }
      }
      .block_description{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
        img{
          width: 50vw;

        }
        p{
          width: 20vw;
          font-size: 1.2em;
          font-weight: 400;
          margin-left: 10em;
          text-align: right;
          line-height: 2em;
        }
      }
    }
  }

}
