<section class="steps">
  <div class="block_title">
    <h1 class="title">What can you do ?</h1>
    <h2 class="subtitle">Here are all the incredible things our super product can do for you :</h2>
  </div>
  <div class="block_detail">
    <div class="block_detail-left">
      <div class="block_title block_anim">
          <p class="number">1</p>
          <h4>Map your space</h4>
      </div>

      <div class="block_description">
        <p class="paragraph">Magnus lets you map your space. Add walls, rooms, and even your hallways if you want to ! </p>
        <img class="img" src="../assets/imgs/capture.png" alt="">
      </div>
    </div>


    <div class="block_detail-right">
        <div class="block_title block_anim">
            <p class="number">2</p>
            <h4>Add POIs</h4>
        </div>

        <div class="block_description">
          <p class="paragraph">After that, you can add any point of interest you want. Then, let your users go to these points !</p>
          <img class="img" src="../assets/imgs/capture.png" alt="">
        </div>
      </div>


      <div class="block_detail-left">
          <div class="block_title block_anim">
              <p class="number">3</p>
              <h4>Get your indoor itinirary</h4>
          </div>

          <div class="block_description">
            <p class="paragraph">Thanks to its powerful engine, Magnus geolocalize you into your space and give you the best way to go to the point/room/hallway you selected</p>
            <img class="img" src="../assets/imgs/capture.png" alt="">
          </div>
        </div>


  </div>
</section>
