<section class="homepage">
  <div class="side_left">
    <div class="side_left-content">
      <h1 class="title">Magnus</h1>
      <h3 class="subtitle">Troubles finding your way ? </h3>
      <p class="paragraph">Magnus API is uppli's solution for indoor navigation and positioning without the need of GPS or any expensive infrastructure.</p>
      <button class="button">Meet your friends</button>
    </div>
  </div>
  <img class="logo" src="../assets/imgs/pinRoom.svg" alt="">
  <div class="side_right">
    <div class="side_right-overlay"></div>
    <video loop autoplay playsinline>
      <source src="../../assets/video/magnusFinal.mp4">
    </video>
  </div>
</section>